   <!--  Header Start -->
      <header class="app-header" style="box-shadow: 1px 1px 1px rgb(236, 232, 232);">
        <nav class="navbar navbar-expand-lg navbar-light">
     <div style="display: flex;" class="header-main">

      <div class="header-search-container">

          <input type="search" name="search" class="search-field" placeholder="Rechercher quelque chose">

          <button class="search-btn">
            <ion-icon name="filter-outline"></ion-icon>
          </button>

        </div>
      <div class="header-user-actions">

          <a class="action-btn" routerLink="/profile-acheteur">
            <ion-icon name="person-circle-outline"></ion-icon>
          </a>

          <a class="action-btn">
            <ion-icon name="chatbox-outline"></ion-icon>
            <span class="count">0</span>
          </a>

          <a class="action-btn" routerLink="/mon-panier">
            <ion-icon name="notifications-outline"></ion-icon>
            <span class="count">0</span>
          </a>

        </div>
   </div>

        </nav>
      </header>
      <!--  Header End -->
