h2 {
  margin-left: 15px;
  color: rgb(121, 119, 119);
}

.product-list {
  display: flex;
  overflow-x: auto;
  /* Active le défilement horizontal lorsque le contenu dépasse la largeur du conteneur */
  white-space: nowrap;
  /* Empêche le renvoi à la ligne des éléments */
  padding: 16px;

  /* Ajoute un peu d'espace autour de la liste */
  ion-card {
    flex: 0 0 auto;
    margin-right: 16px;
    width: 300px;
    padding: 8px;
    border-radius: 8px;
        img :;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
{
      width: 100%;
      height: 50%;
      object-fit: cover;
    }

    ion-note {
      font-size: 20px;
      display: block;
      white-space: pre-line;
    }

    .star-icon {
      color: gold;
    }

    .price-comparison {
      text-decoration: line-through;
      color: black;
      font-size: 16px;
    }

    .actual-price {
      font-size: 20px;
      color: brown;
      font-weight: 900;
    }
  }
}

.product-list::-webkit-scrollbar {
  display: none;
}
