    body {
      background-color: rgb(225, 222, 222);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
    }
   a{
    cursor: pointer;
   }
    input[type=text],
    input[type=email],
    input[type=password],
    input[type=date] {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 0px solid black;
      border-bottom: 1px solid #000;
      /* 2px de largeur, pointillé, couleur noire */

      outline: none;
    }

    .form-container {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

    .margin-div {
      width: 2%;
    }

    form {
      width: 50%;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

    .btn-container {
      text-align: center;
      width: 100%;
    }

    .btn-submit {
      border-radius: 10px;
      border: none;
      width: 100%;
      padding: 10px;
      background-color: #3498db;
      color: white;
      text-align: center;
    }

    @media screen and (max-width: 800px) {
      form {
        width: 96%;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
      }
    }
