<ion-content>

        <ion-card>

        </ion-card>







     <section id="contact" class="contact" >
       <div class="container form-container">
        <div class="margin-div"></div>
 <form  method="post" role="form" class="php-email-form ">
        <h1 style="text-align: center;">Créer un compte</h1><br>

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="madame" value="madame" [(ngModel)]="formData.gender" >
      <label class="form-check-label" for="madame">Madame</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="gender" id="monsieur" value="monsieur"  [(ngModel)]="formData.gender">
      <label class="form-check-label" for="monsieur"  >Monsieur*</label>
    </div>

    <div class='mt-3'>
        <input type='text' placeholder='Prénom*'[(ngModel)]="formData.firstName" required  name="firstName"/>
        <br><br>
        <input type='text' placeholder='Nom*' required [(ngModel)]="formData.lastName" name="lastName"/>
        <br><br>
        <input type='email' placeholder='Adresse e-mail*' required [(ngModel)]="formData.email" name="email"/>
        <br><br>
        <input type='password' placeholder='Mot de passe*' required  [(ngModel)]="password" name="password"/>
        <br><br>
        <input type='password' placeholder='Confirmer votre mot de passe*' required  [(ngModel)]="confirmedPassWord" name="password"  (change)="passwordIsConfirmed()"/>
        <br><br>
        <span *ngIf="!passwordIsConfirmed()" style="color: red;">
          Les mots des passes ne se correspondent pas
        </span> <br><br>
        <input type='date' placeholder='Date de naissance JJ/MM/AAAA*' required [(ngModel)]="formData.birthdate" name="birthdate"/>
        <br><br>


    </div>
     <div class="btn-container">
       <button type="submit" class="btn-submit" (click)="register()">
         Créer mon compte
       </button>
     </div><br>
          <div>
          <span>Avez-vous un compte vendeur  ?  <a class="text-primary cursor-pointer" (click)="navigate('/login')">
        Connectez-vous
      </a></span>
       </div>
         <div>
          <span><a class="text-primary cursor-pointer" (click)="navigate('vendeurs/register')">
            Créer un compte vendeur
      </a></span>
       </div>
  </form>
 <div class="margin-div"></div>

</div>

    </section>

</ion-content>
