


  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <app-sidebar></app-sidebar>

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <app-header></app-header>
      <div class="container-fluid" style="background-color: #0000;min-height:100vh">

        <div>

         Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aperiam iure quisquam inventore vitae cum eum ipsum asperiores atque, at perspiciatis libero. Nobis id excepturi in. Debitis nemo nisi expedita.
         Expedita deserunt dolores minus ipsa fuga accusantium sint, ad quidem laudantium debitis asperiores voluptatem aperiam facilis error voluptatibus deleniti labore sit, rerum ab eveniet neque sunt minima! Neque, quia ipsa!
         Sunt eum sint et totam modi! Cum nulla, possimus asperiores itaque fugit sed accusantium ut sunt incidunt temporibus quis eaque pariatur! Aliquam ipsa excepturi esse sapiente nulla nesciunt laudantium quasi?
         Voluptate eius deleniti, optio quis numquam eos debitis dolor quasi saepe facere enim fugiat commodi sapiente cumque tenetur sequi, consectetur architecto, dicta ea vitae dolorum! Odit cumque nisi vel dolores.
         Quasi corrupti quas laboriosam veniam facere recusandae perspiciatis vel explicabo voluptate? Modi molestiae nihil beatae magni blanditiis rem, quia ipsam alias neque corrupti facere numquam esse voluptatibus ducimus officiis ex!
         Vero omnis quia alias deleniti a quod esse voluptates asperiores atque quo repudiandae illum adipisci odit fugiat consequatur autem, velit doloribus natus id. Architecto possimus nihil totam corrupti nemo dolor.




        </div>

      </div>

    </div>


  </div>



