<div class="container-fluid py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-md-12 col-lg-12">
                <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active rounded image-carousel">
                            <img src="https://images.bfmtv.com/wHjSbEdXUE4KcS8YBysWr-i13us=/0x0:1260x840/1260x0/biz_dev/1688119930348_montre_benyar_offre_jpg.jpg" class="img-fluid w-100 bg-secondary rounded slide-image" alt="First slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Commander</a>
                        </div>
                        <div class="carousel-item rounded image-carousel">
                            <img src="https://www.teamclic.fr/images/resource/products/vente-pc-portable-redon.png" class="img-fluid w-100 rounded slide-image" alt="Second slide">
                            <a href="#" class="btn px-4 py-2 text-white rounded">Commander</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
