.body-content{
  padding: 10px;
 h1{
    text-align: center;
    padding: 2px 0px 2px 0;
  }
}


.custom-select {
  margin-right: 15px;
  /* Ajustez la marge selon vos besoins */
}

.product-pic{
  width: 80px;
  height: 80px;
}