


  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

    <app-sidebar></app-sidebar>

    <!--  Main wrapper -->
    <div class="body-wrapper">
      <app-header></app-header>
      <div class="container-fluid" style="background-color: #0000;min-height:100vh">

        <div>

         <h1>Bienvenu sur ma page des promotions</h1>




        </div>

      </div>

    </div>


  </div>



