

<ion-content [fullscreen]="true">

   <div  style="margin-top: 90px; background-color: #f4f5f8">
      <div class="main-content">
        <div class="extrem"></div>
         <ion-grid>
     <ion-row>
      <ion-col size-xs="12" size-sm="4">
       <ion-card class="card1-1">
         <div class="avatar-container">
          <div class="bord"></div>
           <div>
            <ion-avatar>
            <img src="../../../../assets//images/testimonial-1.jpg" alt="">
          </ion-avatar>
           <p class="email-text" *ngIf="usersService.client!==null">

           </p>
           </div>
         <div class="bord"></div>
         </div>
        <ion-list>
          <ion-item>
            <ion-icon name="cart" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Mes commandes</ion-text>
              <p>
                 gérer vos commandes
              </p>
            </ion-label>

          </ion-item>
           <ion-item>
            <ion-icon name="layers" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Mes demandes</ion-text>
              <p>
                 Suivre l'évolution de mes demandes en temps réel
              </p>
            </ion-label>

          </ion-item>
           <ion-item>
            <ion-icon name="warning" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Mes reclamations</ion-text>
              <p>
                 Consulter mes reclamations
              </p>
            </ion-label>

          </ion-item>
           <ion-item>
            <ion-icon name="chatbubble-ellipses" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Mes discussions</ion-text>
              <p>
                 Voir mes discussions
              </p>
            </ion-label>

          </ion-item>

           <ion-item>
            <ion-icon name="storefront" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Mes boutiques favorites</ion-text>
              <p>
                 Voir les boutiques que vous aimez
              </p>
            </ion-label>

          </ion-item>

           <ion-item>
            <ion-icon name="person" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Mon compte</ion-text>
              <p>
                 Modifier ou supprimer votre compte
              </p>
            </ion-label>

          </ion-item>
            <ion-item (click)=" logout()">
            <ion-icon name="person" size="100">

            </ion-icon>
            <ion-label>
              <ion-text>Déconnexion</ion-text>
              <p>
                 Deconnectez-vous de votre compte
              </p>
            </ion-label>

          </ion-item>
        </ion-list>
       </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="8">
        <ion-card class="card1-2">
          <h2>
            Comment gerer mon compte ?
          </h2>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos provident tenetur fugiat nostrum officia excepturi, ducimus minima maxime amet fuga autem in incidunt. Consequatur porro ullam reiciendis beatae sapiente dolore.
          Cum quod beatae molestias consequatur reprehenderit. Repellendus, cupiditate. Quasi eius ea, veniam voluptatum voluptatibus maxime iure adipisci, consequuntur unde debitis iusto accusamus soluta reiciendis modi libero similique, aliquid id! Voluptatibus.
          Distinctio incidunt error, harum, in sint placeat quo repellat minus facere debitis velit eos autem. Optio unde id, nulla placeat quam nisi. Fugiat sunt, quod corporis neque aspernatur nobis aut.
          Optio sapiente nesciunt qui itaque accusantium. Minima ea, amet beatae, explicabo voluptatibus labore fugit temporibus totam corrupti soluta iure! Repudiandae officiis vitae magni nobis a rerum aspernatur odio nisi. Praesentium.
          <br>
          <h2>
            Comment gerer mon compte ?
          </h2>
          <br>
          Corporis omnis deleniti non voluptate soluta quasi ab beatae, fuga temporibus numquam nesciunt maiores magni impedit ducimus id aspernatur repudiandae? Praesentium iste at non neque alias, quo quam exercitationem voluptas.
          Laudantium similique commodi, atque eius voluptate libero provident repudiandae, saepe veritatis neque cumque. Atque officiis explicabo laborum possimus molestiae, voluptates exercitationem odit et doloremque. Minima et sit veritatis nisi consectetur?
          Recusandae fugiat, sed accusamus aut quisquam, ipsum molestias corporis vel, dolores provident odit? Soluta ad facere, est cumque corrupti sapiente in officiis, architecto tempora omnis nesciunt culpa, possimus necessitatibus ipsum.
          Possimus saepe voluptatem hic molestias expedita illo debitis porro officiis perferendis, et, obcaecati ex distinctio. Vero asperiores reiciendis fuga ipsum minima quo odit ipsa molestiae, aliquid doloribus? Iste, dignissimos fuga!
          Laboriosam sint dolorem fugiat totam harum nobis placeat corrupti adipisci molestiae ut quae, quas pariatur recusandae explicabo aliquam ex reiciendis voluptates doloremque debitis temporibus. Natus molestiae enim sit qui porro.
          Recusandae id vel quibusdam dolorem nesciunt maiores quas, nam totam excepturi veritatis ducimus neque temporibus quidem architecto vero perferendis sit atque, minus iste a possimus quod qui. Iste, fugiat iusto.
        </ion-card>
      </ion-col>
  </ion-row>
  </ion-grid>
 <div class="extrem"></div>

      </div>
    <div style="margin-top: 30px;">
      <app-footer></app-footer>

   </div>
   </div>

</ion-content>

