@import url('https://firebasestorage.googleapis.com/v0/b/sasatro-d4f48.appspot.com/o/styles.css?alt=media&token=6a21c560-c65f-436e-b278-be5e52719410');

@import url("https://firebasestorage.googleapis.com/v0/b/sasatro-d4f48.appspot.com/o/styles.min.css?alt=media&token=940ad68a-7cca-4bea-aa60-e4db841c5f54");

@import url("https: //firebasestorage.googleapis.com/v0/b/sasatro-d4f48.appspot.com/o/dashbord.css?alt=media&token=d82717dd-e7fb-4507-8d69-e7bb8f9ed9cc");

#sidebarnav a{
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-item.active {
  background-color: #01b1d7;
}