<ion-card (click)="onBoutiqueClick()">
   <ion-item>
    <ion-avatar>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThfQHt2ZdLgqKDmZbkNwwIsNZNJmGyM-s4OsdRC9RiNlqLY-jS6pYNDCzhyID8mwJlBFQ&usqp=CAU" alt="">
    </ion-avatar>
    <ion-label >
              <ion-text>Ecologiste Parisien</ion-text>
              <p>
                 Fruit
              </p>
      </ion-label>

   </ion-item>


<ion-item >
  <ion-label>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate nam, repudiandae enim maiores
    </p>
  </ion-label>
</ion-item>
 <ion-item lines="none">
  <ion-icon name="location" size="50">

  </ion-icon>
   <ion-label>Paris, Rue 5</ion-label>
 </ion-item>
 <ion-item>
  <ion-label>
    <ion-icon class="star-icon" name="star"></ion-icon>
    <ion-icon class="star-icon "  name="star"></ion-icon>
  <ion-icon class="star-icon "  name="star"></ion-icon>
  <ion-icon class="star-icon "  name="star"></ion-icon>
  <ion-icon class="star-icon "  name="star"></ion-icon>
   <span style="margin-left: 5px; opacity: 0.3">50k avis</span>
  </ion-label>
 </ion-item>

</ion-card>
