


<ion-content [fullscreen]="true">
 <section id="contact" class="contact" style="overflow-y: scroll ;min-height:100vh" >
        <div class="container centered">

            <form method="post" role="form" class="php-email-form " id="login-form" >
                <h1 style="text-align: center;">Connectez-vous à votre compte</h1><br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <input type="email" name="email" class="form-control" id="email"
                            placeholder="Saissisez votre adresse mail" required [(ngModel)]="email"/>
                    </div>


                    <a class="text-primary cursor-pointer" (click)="navigate('/login')">Je me rappelle du mot de passe ?</a>
                </div><br><br>

                <div class="text-center">

                    <button type="button" class="btn btn-primary" (click)="resetPassword()">Envoyer</button>
                </div>
            </form>
            <br>
         <div>
       </div>
        </div>
    </section>

</ion-content>

