

<h2 class="">Profitez des offres promotionnnelles du moment</h2>
<ion-grid>
    <!-- Première ligne de la grille -->
    <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <!-- Contenu de la deuxième colonne -->
        <ion-card >

          <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>
             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

     <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <!-- Contenu de la deuxième colonne -->
        <ion-card>
           <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>

             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
         <!-- Contenu de la deuxième colonne -->
        <ion-card>
           <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>
             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

     <ion-row>
       <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
         <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
       <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

     <ion-row>
      <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
         <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
          <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
         <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
         <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

   <ion-row>
    <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
         <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
       <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
<ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>

   <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="3">
        <!-- Contenu de la deuxième colonne -->
        <ion-card>
 <ion-card-content class="card-with-avatar">
            <div class="absolute-avatar">
              <div class="text">
                 <span>
                  Jusqu'à
                 </span>
                 <b>
                  -85%
                </b>
              </div>
        </div>             <div>
              <img src="https://www.cdiscount.com/other/256x186-copie-9-3_231219142916.png?73e59193-437c-43b7-a8c3-97532ae091f8" alt="">
             </div>
             <ion-title>
              Informatique
             </ion-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
